/* The Modal (background) */
.modal 
{
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(24, 24, 24);
  }
  
  /* Modal Content */
  .modal-content 
  {
    position: relative;
    background-color: rgb(24, 24, 24);
    margin: auto;
    padding: 0px;
    width: 100%;
    height: 90%;
    cursor: pointer;
 
  }
  
  /* The Close Button: obsolete. We use menu instead to navigate through portfolio
  .close 
  {
    color: gray;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 25px;
    font-weight: normal;
  }
  
  .close:hover,
  .close:focus {
    color:  rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
  }

  */