
/* The Modal (background) */

div.lightbox 
{
  display: block;
 
  width: 100%;
  height: 90%;

  overflow: hidden;
  cursor: default;

  /* Center it horizontally */
  margin: auto; 
  position: relative;

  /* Disable blue selection box */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.lightboxAbsolute
{
  display: block;
 
  width: 100%;
  height: 900px;

  padding-top: auto;
  overflow: hidden;
  cursor: default;

  /* Center it horizontally */
  margin: auto; 
  position: absolute;

  /* Disable blue selection box */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

div.lightbox.Test
{
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}

.titleBox
{
    /*Title box is located inside the Lightbox, therefore use absolute position */
    position: absolute;
    top: 0;
  
    display: block;
    color: rgb(121, 121, 121);
    z-index: 1;
    
    font-size: 1.5rem;
    cursor: default;
    width: 100%;
    text-align: center;
}

.titleBox.Test
{
  border-width: 5px;
  border-style: solid;
  border-color: yellow;
}

.navigationBox
{
  /*Navigation box is located inside the Lightbox, therefore use absolute position */
  position: absolute;
  bottom: 0px;

  display: block;
  color: rgb(121, 121, 121);
  z-index: 1;
  
  font-size: 1.4rem;
  cursor: default;
  width: 100%;
  text-align: center;
}
.printLabel
{
  /*Navigation box is located inside the Lightbox, therefore use absolute position */
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  color: rgb(121, 121, 121);
  z-index: 1;
  
  font-size: 1.4rem;
  cursor: default;
  width: 100%;
  text-align: left;
}

.navigationBox.Test
{
  border-width: 5px;
  border-style: solid;
  border-color: yellow;
}

/*
@media (hover: none) and (pointer: coarse) and (orientation: portrait)
{
  .modal 
  {
    padding-top: 20%;
    height: 80%;
  }
  .navigationBox:hover
  {
      color: black;
  }
  .navigationBox
  {
      font-size: 2rem;
  }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape)
{
  .modal
  {
    padding-top: 10%;
    height: 80%;
  }
  .navigationBox:hover
  {
      color: black;
  }
  .navigationBox
  {
      font-size: 1.5rem;
  }
}

*/