/* 
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap'); 
font-family: 'IBM Plex Sans', sans-serif !important;

@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
font-family: 'Lekton', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

html *
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-decoration: none;   

    /* Disable blue selection box */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
span.cs_menu
{
    font-size: 40px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 10px;
    position: relative;
    z-index: 1;
    width: auto;
    /* Disable blue selection box */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.description
{
    position: absolute;
    font-family: 'EB Garamond', serif;
    top: 30%;
    left: 20%;
    right: 20%;
    text-align: left;
    font-size: 25px;
}

body.alternate
{
    background-color: rgb(24,24,24);
}

/* Allows images to be shown sharper. */
img 
{
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */

    /* Disable blue selection box */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img.social
{
    padding-top: 10px;
}

@media (hover: none) and (pointer: coarse)
{
    span.cs_menu
    {
        font-size: 60px;
        color:white;
        text-decoration: none;
        cursor: pointer;
        display: block;
        padding: 10px;
        width: auto;
        /* Disable blue selection box */
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    span.description
    {
        position: absolute;
        font-family: 'EB Garamond', serif;
        top: 20%;
        left: 10%;
        right: 10%;
        text-align: left;
        font-size: 45px;
    }

    html *
    {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        text-decoration: none;
    }
}