header
{
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
}
body a
{
    font-size: x-large;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}
p
{
    font-size: large;
    color: white;
    font-family:'Courier New', Courier, monospace;
   
    text-decoration: none;
}

body.alternate
{
background-color:black;
}

a.alternate
{
    font-size: large;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

a:hover {
    color:  rgb(255,150,0);
  }

button
{
    font-size: x-large;
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding:0!important;
    display:block;
    border: none;
    background: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

}

/* Properties of drown down (portfolio) menu button. */
div.dropdown
{
    display: block;
    padding-left: 20px;
}
/* Allow images to fit to their parent area. */
.contain {object-fit: contain;}