header
{
    font-size:x-large;
    font-family:'Courier New';
}
body a
{
    font-size: x-large;
    color: white;
    font-family:'Courier New';
    text-decoration: none;
}
p
{
    font-size: large;
    color: white;
    font-family:'Courier New';
    text-decoration: none;
}

body.alternate
{
background-color: darkslategray;
}

a.alternate
{
    font-size: large;
    color: white;
    font-family:'Courier New';
    text-decoration: none;
}

a:hover {
    color: red;
  }

button
{
    font-size: x-large;
    color: white;
    font-family:'Courier New';
    padding:0!important;
    display:block;
    border: none;
    background: none;
    text-align: left;
    text-decoration: none;

}
