.mySlides 
{
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;

}

/* Slideshow container */
.slideshow-container 
{
    width: 100%;
    position: relative;
    margin: 0px;
}

/* Allow images to fit to their parent area. */
.contain 
{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.vertical-center 
{
    position: fixed;
    top: 35%;
    left: 25%;
    right: 25%;
    text-align: center;
  }

  /* Next & previous buttons */
.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  
  /* Fading animation */
.fade 
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@-webkit-keyframes fade
{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}