a
{
   color: white !important;
}
a:hover, button:hover
{
    color: rgb(253, 255, 143) !important; 
}
span.leftMenu
{
    color: white !important;
}
span.rightMenu
{
    color: white !important;
}
.MobileMenu
{
    background-color: black !important;
}