a {
  color: white !important;
}
a:hover,
button:hover {
  color: gray !important;
}
span.leftMenu {
  color: white !important;
}
span.rightMenu {
  color: white !important;
}
.MobileMenu {
  background-color: black !important;
}
