<main>

    <!-- Set the general css settings for the whole page. -->
    <link rel="stylesheet" href="../Design/main.css">
   
    <div id = "menu" class="navigation"></div>
    <script src="../Controller/navigation.js"></script>

<head>
       <title>Ege Ilicak</title>
</head>
<body class="alternate">
        
       <table style="width:40%" align="center">
       <tr>
              <td>
                     <span style="text-align:left" class="description">  
                     </br> </br> </br> </br> 
                     Ege Ilicak was born in Ankara, Turkey in 1988 into a neighbourhood that offered daily lessons in a divine commedy of human behaviour. 
                    </br> </br> Right from childhood, he has always been fascinated by the life on the streets and the complicated and fascinating motion it involves, and this was the spark that inspired his passion to street photography. Since then Ege captures people's daily lives with his camera.
                    </br> </br> Ege currently lives in Heidelberg, Germany and travels for photography as much as possible. </br>
                     </br> </br> Mail: EgeIlicak [at] gmail [dot] com </br>
                     </br></br> Copyright 2019 - Ege Ilicak </br> All Rights Reserved. </br> 
                     </span>
              </td>
              
            </tr>
       </table>

     

 </body>  

 
  
</main>