<main>

    <!-- Set the general css settings for the whole page. -->
    <link rel="stylesheet" href="../Design/main.css">
   
    <div id = "menu"></div>
    <script src="../Controller/navigation.js"></script>

    <head>
        <title>Ege Ilicak</title>
    </head>
<body class="alternate">
        
       <table style="width:60%" align="center">
       <tr>
              <td>
                </br> </br> </br> </br> </br> 
                    <p>E-Mail: EgeIlicak [at] hotmail.com </p>
                    <a class="alternate" style="text-align:left" href="https://instagram.com/local.frames" target="_blank">Instagram: @Local.Frames </a>
                    </br></br>  
                    <a class="alternate" style="text-align:left" href="https://lensculture.com/ege-ilicak" target="_blank">LensCulture Magazine</a>
              </td>
              
        </tr>
       </table>
 </body>  

 
  
</main>