<main>

    <!-- Set the general css settings for the whole page. -->
    <link rel="stylesheet" href="../Design/main.css">
   
    <div id = "menu"></div>
    <script src="../Controller/navigation.js"></script>

    <head>
        <title>Ege Ilicak</title>
    </head>
<body class="alternate">
        
       <table style="width:60%" align="center">
       <tr>
              <td>
                </br> </br> </br> </br> </br> 
                    <p> All images on this website are available as prins in size of 30x45cm. Prints are all archival quality and are signed by the photographer on the backside.  
                        </br> 
                        </br> 
                            Prints are printed on Fuji Crystal archive paper, which minimizes fading. The accompanying text labels as well as all supporting materials are archival, meaning that they are acid-free and will not damage the print or affect its longevity. 
                            
                        </br> </br> We aim to provide prints of the highest standard that maintain their beauty and value for years to come. 

                        </br> </br> For orders, please send an E-Mail to EgeIlicak [at] hotmail.com
                         </p>
              </td>
              
        </tr>
       </table>
 </body>  

 
  
</main>